<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" style="font-weight:600" asp-area="" asp-controller="Item" asp-action="Index">ANZA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav" style="width: 40%; justify-content: space-evenly; font-weight: 600; text-transform: uppercase;">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-route-designedFor="Men" asp-controller="Item" asp-action="IndexFor">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-route-designedFor="Women" asp-controller="Item" asp-action="IndexFor">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-route-designedFor="Kids" asp-controller="Item" asp-action="IndexFor">Kids</a>
                    </li>
                    <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
                        </li>
                    -->
                    <!--
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>
                        </li>
                    -->
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>